<div class="row">
      <div class="col-md-12"><h2>List of Quizz test</h2></div>
      <% for(var i=0; i<5; i++) {%>
        <div class="col-md-4">
         <div class="panel panel-default">
          <div class="panel-heading">Angular quizz</div>
          <div class="panel-body">
            <p>Panel content</p>
            <a href="/quiz/angular-test" class="btn btn-primary">View</a>
          </div>

        </div>
      </div>
    <% } %>
        
    </div>
