<div class="row">
      <h2>Test details page</h2>
      <h3><%= title %></h3>
      action = <%= action %>      , active = <%= active %>
      <div class="col-md-12"><a href="/launch_test/<%= title %>" class="btn btn-primary start_butt">Start</a></div>
      
    </div>
<script type="text/javascript">

</script>